:root {
  --fill-color: #e07b28;
  --secondary-color: #3d8bb1;
  --stroke-color: #b0794c;
  --white: white;
  --red: #e74c3c;
}

.container-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


h2 {
  font-size: 12vw;
}

.card2 {
  flex: 0 0 auto;
  margin-right: 3px;
  display: flex;
  align-items: center;
  position: relative;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(127, 127, 127, 0.4);
}


.scrolling-wrapper,
.scrolling-wrapper-flexbox {
  scroll-behavior: smooth;
  height: 100%;
  //   margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
}

a {
  position: relative;
  display: inline-block;
  line-height: initial !important;
  font-size: 5.5vh;
  // color: royalblue;
  font-weight: 800;
  // text-decoration: underline;
  // text-decoration: none;
  overflow: hidden;

  color: #dc3545;
  text-align: center;
  font-family: 'Chelsea', sans-serif;

  span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 275ms ease;

    &::before {
      display: inline-block;
      content: attr(data-content);
      //color to be filled
      color: #87202a;
      transform: translateX(100%);
      transition: transform 275ms ease;
      // text-decoration: underline;
    }
  }

  &:hover {
    span {
      transform: translateX(0);

      &::before {
        transform: translateX(0);
      }
    }
  }
}

a:hover {
  text-decoration: none;
}


.large {
  position: absolute;
  left: -9999px;
}

.large {
  width: 100%;
  text-align: center;
}

.card2:hover .large {
  left: 5px;
  top: 7vh;
  width: 100%;
  animation: fadeIn ease 3s;
}

.large-image {
  max-height: 30vh;
  max-width: 30vw;
  border: 10px solid white;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);

}



.fade-in {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.arrows {
  height: 40px;
  width: 40px;
  font-size: 48px !important;
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  z-index: 10;
  background: rgba(250, 249, 250, 0.42)
}

.left-arrow {
  position: absolute;
  top: 48%;
  left: 20px;

}

.right-arrow {
  position: absolute;
  top: 48%;
  right: 10px;
}


.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


.owl-prev,
.owl-next {
  display: none !important;
}
